@font-face {
    font-family: 'edu_p3rman3ntbook';
    src: url('edup3rman3nt-book.woff2') format('woff2'),
         url('edup3rman3nt-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes loading {
    0%{
        background-color: gray;


    }
    100% {
        background-color: white;

    }
}

body {
    padding: 0 10px;
    font-family: 'edu_p3rman3ntbook', Helvetica, Arial, sans-serif;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 1px;

    letter-spacing: .03em;
}

li#channel-description, h1#channel-title {
    list-style: none;
    display: none;
}


a,button {
    display: inline-block;
    /* background-color: white; */
    color: dodgerblue;
}

header {
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    font-size: 24px;
    justify-content: space-between;

    letter-spacing: .03em;
    line-height: 1.2;
}
article {
    padding-top: 4px;
    margin-bottom: 10px;
    font-size: 24px;

    letter-spacing: .03em;
    line-height: 1.2;

}

video, img.image {
    display: none;
    height: 70vh;
    width: auto;
    max-width: 85vw;
    object-fit: contain;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@media only screen and (max-width: 600px) {
    img.image {
        width: 70vw;
        height: auto;
    }
}

section {
    flex-grow: 1;
    max-width: 100vw;

    background-color: dodgerblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;

    animation: loading 3s ease-out;
}

figure {
    background-color: white;
    /* border-bottom: solid 1px white; */
    height: 1.2em;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

figure > h3 {
    line-height: 1.2em;
    width: max-content;
}