@media only print {

    body {
        font-family: 'grotesque_mt_stdregular';
        font-size: 18pt;
        padding-left: 10px;
        padding-right: 10px;
    }

    i {
        font-family: 'grotesque_mt_stditalic';
    }

    h1 {
        display: none;
    }

    li {
        list-style: none;
    }

    section {
        margin-top: 20pt;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    img.image {
        display: block;
        height: 40vh;
        width: auto;
        page-break-inside: avoid;
    }

    figure {
        border-top: 1pt solid black;
        width: 50vw;
        height: 45vh;

        margin-bottom: 20pt;
        page-break-inside: avoid;
    }

    figure h3 {
        margin-top: 10pt;
        margin-bottom: 10pt;
        page-break-before: always;
        page-break-after: avoid;
    }
}