@font-face {
    font-family: 'grotesque_mt_stdregular';
    src: url('grotesquemtstd.woff2') format('woff2'),
         url('grotesquemtstd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'grotesque_mt_stditalic';
    src: url('grotesquemtstd-italic.woff2') format('woff2'),
         url('grotesquemtstd-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    *,
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'grotesque_mt_stdregular';
        font-size: 0;
        padding-left: 10px;
        padding-right: 10px;

        overflow-y: hidden;
    }

    i {
        font-family: 'grotesque_mt_stditalic';
    }

    nav {
        font-size: 3.95vw;
        position: sticky;
        top: 0;
        background-color: white;
        padding-top: 6px;
        padding-bottom: 3px;
        border-bottom: 1px solid black;
        z-index: 1;
    }

    h1 {
        display: none;
    }

    li {
        list-style: none;
    }

    a {
        transition: font-size .1s;
    }

    a:hover {
        font-size: 1.5em;
        cursor: pointer;
    }

    /* body {
        overflow-y: hidden;
    } */

    video, img.image {
        display: none;
        height: 70vh;
        width: auto;
        max-width: 85vw;
        object-fit: contain;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    @media only screen and (max-width: 600px) {
        img.image {
            width: 70vw;
            height: auto;
        }
    }

    /* figure:hover img, figure:hover video{
        display: block;
    } */

    figure.video-file-block:hover h3::before{
        content: "▶";
        font-size: .75em;
        font-family: monospace;
    }
    figure.video-file-block h3 {
        cursor: pointer;
    }

    h3 {
        /* transition: all .1s; */
        width: max-content;
        display: inline;
        height: 1em;
        white-space: nowrap;
    }

    figure:hover h3, figure:hover figcaption {
        font-size: 1.5em;
    }

    figure:nth-child(1) {
        border-top: 0;
    }

    figure:nth-last-child(1){
        border-bottom: none;
    }

    figure {
        border-top: .5px solid black;
        border-bottom: .5px solid black;
        padding-top: .2em;
        padding-bottom: .1em;

        width: 100%;

        overflow-x: scroll;
        overflow-y: hidden;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    figcaption.description {
        margin-left: .5em;
        color: lightgray;
        width: max-content;
        display: inline;

        white-space: nowrap;
    }
