@font-face {
    font-family: 'edu_p3rman3ntbook';
    src: url('edup3rman3nt-book.woff2') format('woff2'),
         url('edup3rman3nt-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    *,
    html,body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        height: 100vh;
    }

    body {
        margin: 20px;

        font-family: 'edu_p3rman3ntbook', Helvetica, Arial, sans-serif;
        font-size: 0px;
        line-height: 1.5;
        overflow-y: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    i {
        color: #67A6E4;
    }

    article {
        position: relative;
        top: 0;
        font-size: 36px;
        letter-spacing: .025em;
        line-height: 1.25;
        text-align: justify;
    }

    nav {
        font-size: 36px;
        letter-spacing: .025em;
        line-height: 1.35;
        background-color: white;
        border-bottom: 1px solid #67A6E4;
        z-index: 1;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    button {
        color: #67A6E4;
        cursor: pointer;
    }
    section {
        height: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    h1 {
        display: none;
    }

    li {
        list-style: none;
    }

    a {
        transition: font-size .1s;
    }

a:hover {
        cursor: pointer;
        background-color: #67A6E4;
        color: white;
    }

    video, img.image {
        display: none;
        height: 70vh;
        width: auto;
        max-width: 85vw;
        object-fit: contain;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    @media only screen and (max-width: 600px) {
        body {
            margin: 10px;
        }
        nav {
            font-size: 24px;
        }    
        article {
            font-size: 24px;
        }
        img.image {
            width: 70vw;
            height: auto;
        }
        figure.video-file-block:hover h3::before{
            font-family: monospace;
        }
    
    }

    /* figure:hover img, figure:hover video{
        display: block;
    } */

    figure.video-file-block:hover h3::before{
        content: "▶";
        font-size: .75em;
    }

    figure.video-file-block {
        cursor: pointer;
    }



    figure:nth-last-child(1){
        border-bottom: none;
    }
    /* figure:hover {
        z-index: 999;
        height: fit-content;
        background-color: white;
    } */

    figure {
        border-bottom: 1px solid #67A6E4;

        width: 100%;
        height: fit-content;

        overflow-x: scroll;
        overflow-y: hidden;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        transition: height, .1s;

    }

    figcaption.description {
        margin-left: .25em;
        color: lightgray;
        width: max-content;
        display: inline;
        /* height: 1em; */

        white-space: nowrap;
    }

    h3 {
        /* margin: 0 5px; */
        width: max-content;
        display: inline;
        white-space: nowrap;
    }

    figure:hover h3, figure:hover figcaption {
        /* font-size: 1.5em; */
        color: white;
        background-color: #67A6E4;
        /* background-color: aliceblue; */
    }